<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NileCat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NileCat.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>https://nilecat--pelvisresley.repl.co/</value>
            </setting>
            <setting name="PopupCats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopopInterval" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="PlacementXml" serializeAs="String">
                <value />
            </setting>
        </NileCat.Properties.Settings>
    </userSettings>
</configuration>